# The AWSTemplateFormatVersion section (optional) identifies the capabilities of the template. The latest template format version is 2010-09-09 and is currently the only valid value.
AWSTemplateFormatVersion: '2010-09-09'
# For serverless applications (also referred to as Lambda-based applications), specifies the version of the AWS Serverless Application Model (AWS SAM) to use.
Transform: AWS::Serverless-2016-10-31
# A text string that describes the template. This section must always follow the template format version section.
Description: Loose touch

# Parameters.
Parameters:
  Stage:
    Type: String
  BucketPrefix:
    Type: String

# Specifies the stack resources and their properties, such as an Amazon Elastic Compute Cloud instance or an Amazon Simple Storage Service bucket.
# You can refer to resources in the Resources and Outputs sections of the template.
Resources:

  # ====================================================================================================================
  # Defines API.
  LooseTouchAPI:
    Type: AWS::Serverless::Api                                                    # Creates a collection of Amazon API Gateway resources and methods that can be invoked through HTTPS endpoints.
    Properties:
      StageName: !Ref Stage                                                       # The name of the stage, which API Gateway uses as the first path segment in the invoke Uniform Resource Identifier (URI).
      Variables:
        Stage: !Ref Stage

  # ====================================================================================================================
  # Defines available functions.
  LooseTouchFunction:
    # The resource type identifies the type of resource that you are declaring. https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html
    Type: AWS::Serverless::Function                                               # Creates a Lambda function, IAM execution role, and event source mappings which trigger the function.
    Properties:
      Handler: com.oakinvest.lt.configuration.StreamLambdaHandler::handleRequest  # Function within your code that is called to begin execution.
      Runtime: java8                                                              # The runtime environment.
      CodeUri: back-end/target/loose-touch-back-end-lambda-package.zip            # S3 Uri or location to the function code. The S3 object this Uri references MUST be a Lambda deployment package.
      MemorySize: 512                                                             # Size of the memory allocated per invocation of the function in MB. Defaults to 128.
      Policies: AWSLambdaBasicExecutionRole                                       # Names of AWS managed IAM policies or IAM policy documents or SAM Policy Templates that this function needs, which should be appended to the default role for this function.
      Timeout: 30                                                                 # Maximum time that the function can run before it is killed in seconds. Defaults to 3.
      Events:                                                                     # A map (string to Event source object) that defines the events that trigger this function.
        API:                                                                      # Event name.
          Type: Api                                                               # API Type.
          Properties:
            RestApiId: !Ref LooseTouchAPI                                         # Identifier of a RestApi resource which MUST contain an operation with the given path and method.
            Path: /{proxy+}                                                       # Configuring your resource as a proxy resource or {proxy+} is a greedy path wherein the entire sub-resource chain is passed to your backend as path variables.
            Method: any                                                           # HTTP method for which this function is invoked (POST, GET, DELETE, PUT...).

  # ====================================================================================================================
  # Defines buckets for public website.
  LooseTouchRootBucket:                                                           # The AWS::S3::Bucket resource creates an Amazon Simple Storage Service (Amazon S3) bucket in the same AWS Region where you create the AWS CloudFormation stack.
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Join                                                           # A name for the bucket. If you don't specify a name, AWS CloudFormation generates a unique physical ID and uses that ID for the bucket name.
        - ''
        - - !Ref BucketPrefix
          - loosetouch.com
      AccessControl: PublicRead                                                   # A canned access control list (ACL) that grants predefined permissions to the bucket.
      WebsiteConfiguration:                                                       # Information used to configure the bucket as a static website. For more information
        IndexDocument: index.html                                                 # The name of the index document for the website.
        ErrorDocument: 404.html                                                   # The name of the error document for the website.

  LooseTouchWWWBucket:
    Type: AWS::S3::Bucket                                                         # The AWS::S3::Bucket resource creates an Amazon Simple Storage Service (Amazon S3) bucket in the same AWS Region where you create the AWS CloudFormation stack.
    Properties:
      BucketName: !Join                                                           # A name for the bucket. If you don't specify a name, AWS CloudFormation generates a unique physical ID and uses that ID for the bucket name.
        - ''
        - - !Ref BucketPrefix
          - www.loosetouch.com
      AccessControl: BucketOwnerFullControl                                       # A canned access control list (ACL) that grants predefined permissions to the bucket.
      WebsiteConfiguration:                                                       # Information used to configure the bucket as a static website. For more information
        RedirectAllRequestsTo:                                                    # The RedirectAllRequestsTo code is an embedded property of the Amazon S3 Website Configuration Property property that describes the redirect behavior of all requests to a website endpoint of an Amazon S3 bucket.
          HostName: !Ref LooseTouchRootBucket                                     # Name of the host where requests are redirected.

# Describes the values that are returned whenever you view your stack's properties.
# For example, you can declare an output for an S3 bucket name and then call the aws cloudformation describe-stacks AWS CLI command to view the name.
Outputs:
  # ====================================================================================================================
  # URL of API.
  ApiURL:
    Description: URL of API
    Value: !Join
      - ''
      - - https://
        - !Ref LooseTouchAPI
        - '.execute-api.'
        - !Ref 'AWS::Region'
        - '.amazonaws.com/'
        - !Ref Stage

  # ====================================================================================================================
  # URL of the S3 bucket.
  LooseTouchRootBucketURL:
    Description: URL of S3 bucket to hold website content
    Value: !Join
      - ''
      - - 'https://'
        - !GetAtt
          - LooseTouchRootBucket
          - DomainName