# The AWSTemplateFormatVersion section (optional) identifies the capabilities of the template. The latest template format version is 2010-09-09 and is currently the only valid value.
AWSTemplateFormatVersion: '2010-09-09'
# For serverless applications (also referred to as Lambda-based applications), specifies the version of the AWS serverless Application Model (AWS SAM) to use.
Transform: AWS::Serverless-2016-10-31
# A text string that describes the template. This section must always follow the template format version section.
Description: Loose touch

# ======================================================================================================================
# Command line parameters.
Parameters:
  # Environment.
  Environment:
    Description: Environment name (staging or production)
    AllowedValues:
      - staging
      - production
    Default: staging
    Type: String

# ======================================================================================================================
# Deployment parameters.
Mappings:
  # Tables.
  TableNameMap:
    staging:
      users: STAGING_ACCOUNTS
      contacts: STAGING_CONTACTS
    production:
      users: PRODUCTION_ACCOUNTS
      contacts: PRODUCTION_CONTACTS
  # Buckets.
  bucketMap:
    staging:
      app: loose-touch-app-staging
      www: loose-touch-www-staging
    production:
      app: loose-touch-app-production
      www: loose-touch-www-production
  # Domains.
  DomainMap:
    staging:
      domain: dumbtest.pw
    production:
      domain: loosetouch.com
  # Subdomain map.
  SubdomainMap:
    staging:
      api: api
      app: app
      www: www
    production:
      api: api
      app: app
      www: www
  # SSL Certificates (must be created in us-east-1 zone for Cloudfront).
  CertificateMap:
    staging:
      arn: arn:aws:acm:us-east-1:092616724146:certificate/8541fe15-d1e3-452d-aba8-a62a6d6aaf87
    production:
      arn: not_defined

# ======================================================================================================================
# Specifies the stack resources and their properties, such as an Amazon Elastic Compute Cloud instance or an Amazon Simple Storage Service bucket.
# You can refer to resources in the Resources and Outputs sections of the template.
Resources:

  # ====================================================================================================================
  # Dynamo tables.
  LooseTouchTableUsers:
    Type: AWS::DynamoDB::Table                                                    # The AWS::DynamoDB::Table resource creates a DynamoDB table.
    Properties:
      AttributeDefinitions:                                                       # A list of attributes that describe the key schema for the table and indexes. Duplicates are allowed.
        - AttributeName: "ID"                                                     # ID.
          AttributeType: S                                                        # String.
        - AttributeName: "GOOGLE_USERNAME"                                        # Google username.
          AttributeType: S                                                        # String.
      BillingMode: PAY_PER_REQUEST                                                # Specify how you are charged for read and write throughput and how you manage capacity.
      GlobalSecondaryIndexes:                                                     # Global secondary indexes to be created on the table.
        - IndexName: "INDEX_GOOGLE_USERNAME"
          KeySchema:
            - AttributeName: "GOOGLE_USERNAME"
              KeyType: "HASH"
          Projection:                                                             # Attributes that are copied (projected) from the source table into the index.
            ProjectionType: "ALL"                                                 # The set of attributes that are projected into the index. KEYS_ONLY : Only the index and primary keys are projected into the index.
      TableName: !FindInMap [TableNameMap, !Ref Environment, users]               # A name for the table. If you don't specify a name, AWS CloudFormation generates a unique physical ID and uses that ID for the table name.
      KeySchema:                                                                  # Specifies the attributes that make up the primary key for the table.
        - AttributeName: "ID"
          KeyType: "HASH"

  LooseTouchTableContacts:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
        - AttributeName: "ACCOUNT_ID"                                                # ID.
          AttributeType: S                                                        # String.
        - AttributeName: "EMAIL"                                                  # Contact email.
          AttributeType: S                                                        # String.
        - AttributeName: "CONTACT_DUE_DATE"                                       # Contact due date.
          AttributeType: S                                                        # String.
      BillingMode: PAY_PER_REQUEST
      LocalSecondaryIndexes:                                                      # Local secondary indexes to be created on the table.
        - IndexName: "INDEX_CONTACT_DUE_DATE"
          KeySchema:
            - AttributeName: "ACCOUNT_ID"
              KeyType: "HASH"
            - AttributeName: "CONTACT_DUE_DATE"
              KeyType: "RANGE"
          Projection:
            ProjectionType: "ALL"
      TableName: !FindInMap [TableNameMap, !Ref Environment, contacts]
      KeySchema:
        - AttributeName: "ACCOUNT_ID"
          KeyType: "HASH"
        - AttributeName: "EMAIL"
          KeyType: "RANGE"

  # ====================================================================================================================
  # Defines available functions.
  LooseTouchFunction:
    Type: AWS::Serverless::Function                                               # Creates a Lambda function, IAM execution role, and event source mappings which trigger the function.
    DependsOn:
      - LooseTouchTableUsers
      - LooseTouchTableContacts
    Properties:
      Handler: com.oakinvest.lt.configuration.StreamLambdaHandler::handleRequest  # Function within your code that is called to begin execution.
      Runtime: java8                                                              # The runtime environment.
      CodeUri: api/target/api-lambda-package.zip                                  # S3 Uri or location to the function code. The S3 object this Uri references MUST be a Lambda deployment package.
      MemorySize: 512                                                             # Size of the memory allocated per invocation of the function in MB. Defaults to 128.
      Policies: AWSLambdaBasicExecutionRole                                       # Names of AWS managed IAM policies or IAM policy documents or SAM Policy Templates that this function needs, which should be appended to the default role for this function.
      Timeout: 30                                                                 # Maximum time that the function can run before it is killed in seconds. Defaults to 3.
      Events:                                                                     # A map (string to Event source object) that defines the events that trigger this function.
        API:                                                                      # Event name.
          Type: Api                                                               # API Type.
          Properties:
            RestApiId: !Ref LooseTouchAPI                                         # Identifier of a RestApi resource which MUST contain an operation with the given path and method.
            Path: /{proxy+}                                                       # Configuring your resource as a proxy resource or {proxy+} is a greedy path wherein the entire sub-resource chain is passed to your backend as path variables.
            Method: any                                                           # HTTP method for which this function is invoked (POST, GET, DELETE, PUT...).
      Environment:
        Variables:
          environment: !Ref Environment

  # ====================================================================================================================
  # Defines API.
  LooseTouchAPI:
    Type: AWS::Serverless::Api                                                    # Creates a collection of Amazon API Gateway resources and methods that can be invoked through HTTPS endpoints.
    DependsOn:
      - LooseTouchFunction
    Properties:
      StageName: !Ref Environment                                                 # The name of the stage, which API Gateway uses as the first path segment in the invoke Uniform Resource Identifier (URI).

  # ====================================================================================================================
  # Defines buckets for public website.
  LooseTouchWWWBucket:                                                           # The AWS::S3::Bucket resource creates an Amazon Simple Storage Service (Amazon S3) bucket in the same AWS Region where you create the AWS CloudFormation stack.
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !FindInMap [bucketMap, !Ref Environment, www]                  # A name for the bucket. If you don't specify a name, AWS CloudFormation generates a unique physical ID and uses that ID for the bucket name.
      AccessControl: PublicRead                                                  # A canned access control list (ACL) that grants predefined permissions to the bucket.

  LooseTouchAppBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !FindInMap [bucketMap, !Ref Environment, app]
      AccessControl: PublicRead

  # ====================================================================================================================
  # Cloudfront distribution.
  LooseTouchWWWDistribution:
    Type: AWS::CloudFront::Distribution                                           # Creates an Amazon CloudFront web distribution.
    DependsOn:
      - LooseTouchWWWBucket
    Properties:
      DistributionConfig:                                                         # The distribution's configuration information.
        Origins:                                                                  # A list of origins for this CloudFront distribution. For each origin, you can specify whether it is an Amazon S3 or custom origin.
          - DomainName: !Sub                                                      # The DNS name of the Amazon Simple Storage Service (S3) bucket or the HTTP server from which you want CloudFront to get objects for this origin.
              - ${Bucket}.s3-external-1.amazonaws.com
              - Bucket: !FindInMap [bucketMap, !Ref Environment, www]
            Id: www                                                               # An identifier for the origin which must be unique within the distribution
            CustomOriginConfig:                                                   # Origin information to specify a custom origin.
              HTTPPort: 80                                                        # The HTTP port the custom origin listens on.
              HTTPSPort: 443                                                      # The HTTPS port the custom origin listens on.
              OriginProtocolPolicy: https-only                                    # The origin protocol policy to apply to your origin.
        Enabled: 'true'                                                           # Controls whether the distribution is enabled to accept end account requests for content.
        Aliases:                                                                  # CNAMEs (alternate domain names), if any, for the distribution.
          - !Sub
            - ${Subdomain}.${Domain}
            - { Subdomain: !FindInMap [SubdomainMap, !Ref Environment, www], Domain: !FindInMap [DomainMap, !Ref Environment, domain] }
          - !Sub
            - ${Domain}
            - Domain: !FindInMap [DomainMap, !Ref Environment, domain]
        DefaultRootObject: index.html                                             # The object (such as index.html) that you want CloudFront to request from your origin when the root URL for your distribution (such as http://example.com/) is requested.
        CustomErrorResponses:                                                     # Whether CloudFront replaces HTTP status codes in the 4xx and 5xx range with custom error messages before returning the response to the viewer.
          - ErrorCode: 404
            ResponseCode: 200
            ResponsePagePath: /index.html
        DefaultCacheBehavior:                                                     # The default cache behavior that is triggered if you do not specify the CacheBehavior property or if files don't match any of the values of PathPattern in the CacheBehavior property.
          AllowedMethods:                                                         # HTTP methods that CloudFront processes and forwards to your Amazon S3 bucket or your custom origin.
            - DELETE
            - GET
            - HEAD
            - OPTIONS
            - PATCH
            - POST
            - PUT
          TargetOriginId: www                                                     # The value of ID for the origin that CloudFront routes requests to when the default cache behavior is applied to a request.
          ForwardedValues:                                                        # ForwardedValues is a property of the DefaultCacheBehavior and CacheBehavior properties that indicates whether Amazon CloudFront forwards query strings or cookies.
            QueryString: 'false'
            Cookies:
              Forward: none
          ViewerProtocolPolicy: redirect-to-https                                 # The protocol that users can use to access the files in the origin that you specified in the TargetOriginId property when the default cache behavior is applied to a request.
        ViewerCertificate:                                                        # ViewerCertificate is a property of the CloudFront Distribution DistributionConfig property that specifies which certificate to use when viewers use HTTPS to request objects.
          AcmCertificateArn: !FindInMap [CertificateMap, !Ref Environment, arn]
          SslSupportMethod: sni-only

  LooseTouchAPIDistribution:
    Type: AWS::CloudFront::Distribution
    DependsOn:
      - LooseTouchAPI
    Properties:
      DistributionConfig:
        Origins:
          - DomainName: !Join
              - ''
              - - !Ref LooseTouchAPI
                - '.execute-api.'
                - !Ref 'AWS::Region'
                - '.amazonaws.com'
            Id: api
            CustomOriginConfig:
              HTTPPort: 80
              HTTPSPort: 443
              OriginProtocolPolicy: https-only
        Enabled: 'true'
        Aliases:
          - !Sub
            - ${Subdomain}.${Domain}
            - { Subdomain: !FindInMap [SubdomainMap, !Ref Environment, api], Domain: !FindInMap [DomainMap, !Ref Environment, domain] }
        DefaultRootObject: index.html
        CustomErrorResponses:
          - ErrorCode: 404
            ResponseCode: 200
            ResponsePagePath: /index.html
        DefaultCacheBehavior:
          AllowedMethods:
            - DELETE
            - GET
            - HEAD
            - OPTIONS
            - PATCH
            - POST
            - PUT
          TargetOriginId: api
          ForwardedValues:
            Headers:
              - "Authorization"
            QueryString: 'true'
            Cookies:
              Forward: none
          ViewerProtocolPolicy: redirect-to-https
        ViewerCertificate:
          AcmCertificateArn: !FindInMap [CertificateMap, !Ref Environment, arn]
          SslSupportMethod: sni-only

  LooseTouchAppDistribution:
    Type: AWS::CloudFront::Distribution
    DependsOn:
      - LooseTouchAppBucket
    Properties:
      DistributionConfig:
        Origins:
          - DomainName: !Sub
              - ${Bucket}.s3-external-1.amazonaws.com
              - Bucket: !FindInMap [bucketMap, !Ref Environment, app]
            Id: app
            CustomOriginConfig:
              HTTPPort: 80
              HTTPSPort: 443
              OriginProtocolPolicy: https-only
        Enabled: 'true'
        Aliases:
          - !Sub
            - ${Subdomain}.${Domain}
            - { Subdomain: !FindInMap [SubdomainMap, !Ref Environment, app], Domain: !FindInMap [DomainMap, !Ref Environment, domain] }
        DefaultRootObject: index.html
        CustomErrorResponses:
          - ErrorCode: 404
            ResponseCode: 200
            ResponsePagePath: /index.html
        DefaultCacheBehavior:
          AllowedMethods:
            - DELETE
            - GET
            - HEAD
            - OPTIONS
            - PATCH
            - POST
            - PUT
          TargetOriginId: app
          ForwardedValues:
            QueryString: 'true'
            Cookies:
              Forward: none
          ViewerProtocolPolicy: redirect-to-https
        ViewerCertificate:
          AcmCertificateArn: !FindInMap [CertificateMap, !Ref Environment, arn]
          SslSupportMethod: sni-only

  # ====================================================================================================================
  # Defines DNS.
  LooseTouchDNS:
    Type: AWS::Route53::RecordSetGroup                                            # The AWS::Route53::RecordSetGroup resource creates record sets for a hosted zone.
    DependsOn:
      - LooseTouchWWWDistribution
      - LooseTouchAPIDistribution
      - LooseTouchAppDistribution
    Properties:
      HostedZoneName: !Sub                                                        # The name of the domain for the hosted zone where you want to add the record set.
        - ${Domain}.
        - Domain: !FindInMap [DomainMap, !Ref Environment, domain]
      RecordSets:                                                                 # List of resource record sets to add. The maximum number of records is 1,000.
        # WWWW.
        - Name: !Sub
            - ${Subdomain}.${Domain}
            - { Subdomain: !FindInMap [SubdomainMap, !Ref Environment, www], Domain: !FindInMap [DomainMap, !Ref Environment, domain] }
          Type: CNAME
          ResourceRecords: [GetAtt LooseTouchWWWDistribution.DomainName]
        # Root.
        - Name: !Sub
            - ${Domain}
            - Domain: !FindInMap [DomainMap, !Ref Environment, domain]
          Type: A
          AliasTarget:
            HostedZoneId: "Z2FDTNDATAQYW2"
            DNSName: !GetAtt LooseTouchWWWDistribution.DomainName
        # API.
        - Name: !Sub
            - ${Subdomain}.${Domain}
            - { Subdomain: !FindInMap [SubdomainMap, !Ref Environment, api], Domain: !FindInMap [DomainMap, !Ref Environment, domain] }
          Type: A
          AliasTarget:
            HostedZoneId: "Z2FDTNDATAQYW2"
            DNSName: !GetAtt LooseTouchAPIDistribution.DomainName
        # APP.
        - Name: !Sub
            - ${Subdomain}.${Domain}
            - { Subdomain: !FindInMap [SubdomainMap, !Ref Environment, app], Domain: !FindInMap [DomainMap, !Ref Environment, domain] }
          Type: A
          AliasTarget:
            HostedZoneId: "Z2FDTNDATAQYW2"
            DNSName: !GetAtt LooseTouchAppDistribution.DomainName
