<div class="profile-box" *ngIf="this.accountService.account != null">

    <mat-card class="mat-elevation-z2">

        <!-- Header -->
        <mat-card-header>
            <img id="account-picture" src="{{ this.accountService.account.pictureUrl }}" mat-card-avatar>
            <mat-card-title id="account-name">{{ this.accountService.account.firstName }} {{ this.accountService.account.lastName }}</mat-card-title>
        </mat-card-header>
        <!-- Separator -->
        <mat-card-content>
            <hr>
        </mat-card-content>
        <!-- Action -->
        <mat-card-actions>
            <button id="button-disconnect"
                    mat-raised-button
                    class="disconnect"
                    color="primary"
                    (click)="signOut()">
                Disconnect
            </button>
        </mat-card-actions>

    </mat-card>

</div>
