<div class="row" matchHeight="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 id="v60" class="card-title">Version 2.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">11-17-2018 [2.0]</h5>
					<h3>Added</h3>
					<ol>
						<li>Angular 7 in Angular template and Starter kit </li>
						<li>Select component in extra component section</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>All packages updated to latest version.</li>
						<li>drag and drop, angular-archwizard(ng2-archwizard) and Calendar component have major version upgrade</li>
						<li>Documentation</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>Minor design fixes</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" matchHeight="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title-wrap bar-warning">
					<h4 class="card-title">Version 1.0</h4>
				</div>
			</div>
			<div class="card-body">
				<div class="card-block">
					<ol>
						<li>Initial Release</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>