/* Bootstrap & bootstrap material. */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Global font */
body {
  font-family: 'Montserrat', sans-serif !important;
}

