<!-- =============================================================================================================== -->
<!-- Header -->
<app-header></app-header>
<!-- =============================================================================================================== -->

<!-- =============================================================================================================== -->
<!-- Information for user -->
<div id="alert" class="alert alert-warning" role="alert">
    test
</div>
<!-- =============================================================================================================== -->

<!-- =============================================================================================================== -->
<!-- Content-->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<!-- =============================================================================================================== -->
