<!-- =============================================================================================================== -->
<!-- Header -->
<app-header></app-header>
<!-- =============================================================================================================== -->

<!-- =============================================================================================================== -->
<!-- Container -->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- =============================================================================================================== -->
