<div class="login-box">

  <mat-card class="mat-elevation-z2">
    <!-- Header -->
    <mat-card-header>
      <mat-card-title>
        <fa-icon icon="sign-in-alt"></fa-icon>
        &nbsp;Loose touch login
      </mat-card-title>
    </mat-card-header>
    <!-- Separator -->
    <mat-card-content>
      <hr>
    </mat-card-content>
    <!-- Action -->
    <mat-card-actions>
      <div class="g-signin2 align" data-onsuccess="onSignIn" data-theme="dark" data-longtitle="true"></div>
    </mat-card-actions>
  </mat-card>

</div>
