<!-- Error message -->
<div class="alert alert-warning" role="alert" *ngIf="error">
  {{error.message}}
</div>

<!-- Login box-->
<div class="login-box">
  <mat-card class="mat-elevation-z3">
    <!-- Header -->
    <mat-card-header>
      <div id="avatar" mat-card-avatar class="login-image"></div>
      <mat-card-title>Loose touch connexion</mat-card-title>
      <mat-card-subtitle>Use your google account to sign up and sign in</mat-card-subtitle>
    </mat-card-header>
    <!-- Separator -->
    <mat-card-content>
      <hr style="width: 380px">
    </mat-card-content>
    <!-- Action -->
    <mat-card-actions>
      <button id="google-sign-in" class="google-sign-in" (click)="signInWithGoogle()"></button>
    </mat-card-actions>
  </mat-card>
</div>
