<!-- =============================================================================================================== -->
<div class="d-flex flex-row flex-column-reverse flex-md-row">

    <!-- ============================================================================================================= -->
    <!-- Contact list -->
    <div class="col-xl-9 col-lg-8 col-md-6 col-s-6">

        <br><br><br><br>
        <div class=" d-flex justify-content-center">
            <button id="button-add-new-contact"
                    mat-raised-button
                    color="primary"
                    [routerLink]="['/contacts/new']">
                Add a new contact
            </button>
        </div>

    </div>
    <!-- ============================================================================================================= -->

    <!-- ============================================================================================================= -->
    <!-- Profile -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-s-6">
        <app-account></app-account>
    </div>
    <!-- ============================================================================================================= -->

</div>
<!-- =============================================================================================================== -->
